#page-content {
    margin-top: 50px;
}

.fa {
    padding: 3px;
}

ul {
    margin-bottom: 2px;
    margin-top: 2px;
}

h3, h4, h5 {
    color: #3A4A65;
}

p {
    margin-bottom: .25em;
}

.switch-active > div > div > div > button {
    transform: translateX(18px) !important;
}

._dash-undo-redo {
    display: none;
}

.dash-element {
    margin-bottom: 21px;
    margin-right: 5px;
    margin-left: 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0);
    border-color: #FFF;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}

.dash-element-no-hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-color: #FFF;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}

.dash-element-hover:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-color: #FFF;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}

.dash-padded-element {
    padding-top: 10px;
    padding-bottom: 10px;
}

.dash-breadcrumb-left-chevron {
    margin-right: 10px;
}

.dash-breadcrumb-right-chevron {
    margin-left: 10px;
}

.dash-element-align-right, .dash-col-align-right {
    text-align: right;
}

@media (max-width: 767px) {
    .plot-no-mobile,
    .no-mobile {
        display: none;
    }
}

#login-password-input,
#login-username-input,
#settings-current-pw,
#settings-new-pw,
#settings-confirm-new-pw {
    max-width: 400px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #FFFFFF;
}

#log-stream-content > pre {
    margin-bottom: 0;
}

/* Add some padding around the table sorting chevrons. */
.column-header--sort {
    padding-right: 5px;
}

/* Left-align the table filter text and add some padding. */
.dash-filter input {
    text-align: left !important;
    padding-left: 10px !important;
}

.dash-select-cell {
    width: 40px !important;
    max-width: 40px !important;
}

#experiments-table-actions .dropdown-toggle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.sidebar-nav {
    display: block;
}

.sidebar-nav .nav-link {
    color: #888;
    border-left: 2px solid transparent;
}

.sidebar-nav .nav-link:hover {
    color: #777;
    border-left: 2px solid #aaa;
}

.sidebar-nav .nav-link.active {
    color: #666;
    border-left: 2px solid #3A4A65;
}

.sidebar-nav .nav-link.active:hover {
    border-left: 2px solid #3A4A65;
}

#notifications {
    z-index: 99;
}

.sidebar-nav-section-heading {
    padding-top: 10px;
    color: #444;
}

#settings-select-user,
#settings-set-user-permissions {
    width: 350px;
    padding-right: 10px;
}

.path-divider {
    padding-left: 5px;
    padding-right: 5px;
}

.experiment-status-badge {
    margin-left: 5px;
}
